/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,cyrillic);*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 80px;
    padding-bottom: 100% !important;
    background-color: #fff;
    font-family: "Open Sans","PT Sans", "tahoma", "Arial verdana",sans-serif;
}
a{
    text-decoration: none;
}

/*----------------------------Heder----------------------------*/
header{
    position: fixed;
    left: 0px;
    top: 0px;
    line-height: 70px;
    height: 80px;
    background-color: #eeeeee;
    color: #555555;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    width: 100%;
    min-width: 1000px;
    z-index: 1000;
}
.header_container{
    height: 80px;
    margin: 0px auto;
    max-width: 1500px;
    min-width: 1000px;
}
.header_container > a{
    display: inline-block;
    width: 25%;
    height: 80px;
    text-align: center;
}
nav{
    width: 50%;
    height: 80px;
    display: block;
    margin: 0px auto;
    float: right;
}
nav ul{
    list-style: outside none none;
    text-align: center;
}
nav ul li{
    display: inline-block;
    width: 25%;
    float: left;
}
nav ul li > a{
    color: #555;
    font-size: 0.97em;
    display: block;
    border-top: 5px solid #EEE;
    transition: all 0.3s ease-out 0s;
    -webkit-transition:   0.3s ease-in-out;
    -moz-transition:   0.3s ease-in-out;
    -o-transition:   0.3s ease-in-out;
}
nav ul li > a:hover{
    /*border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;*/
    border-top: 5px solid #8ccf3f;
}
#logo{
    /*background: url(../img/logo.png) no-repeat;*/
    position: relative;
    top: 7px;
    height: 66px;
    /*width: 439px;
    height: 86px; родное разрешение*/
}
.section_wrapper{
    width: 100%;
    max-width: 1500px;
    min-width: 1000px;
    margin: 0px auto;
    padding: 60px 0;
}
.studio-color{
    background-color: #8ccf3f;
}
.about-color{
    background-color: #EEEEEE;
}
.black_background{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0px;
    z-index: 10;
    opacity: 0;
}
        .section_studio_chrome{
            margin: 0px auto;
            max-width: 1000px;
            min-width: 700px;
            position: relative;
            z-index: 100;
        }
        .text_studio{
            color: #fff;
            font-size: 1.3em;
            position: absolute;
            top: 153px;
            left: 250px;
            width: 500px;
            font-weight: bold;
            text-align: center;
        }
            .section_studio_chrome img{
                width: 85%;
                margin: 0px auto;
                display: block;
            }
            .section_studio_iphone{
                bottom: -30px;
                position: absolute;
                right: 0px;
                /*animation: iPhone_move 1s ease-in-out alternate infinite;*/
                /*animation-name: iPhone_move;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-direction: alternate;
                Animation-iteration-count: infinite;*/
                transition: 0.8s all ease-out 0s;
                -webkit-transition:  0.8s all ease-in-out;
                -moz-transition:   0.8s all ease-in-out;
                -o-transition:   0.8s all ease-in-out;
            }
            @keyframes iPhone_move{
                from{
                    right: 0px;
                }
                to{
                    right: -100px;
                }
            }
            .circle{
                border: 3px solid #FFFFFF;
                position: absolute;
                border-radius: 100px;
                text-align: center;
                display: table;
            }
            .circle_adapt{
                width: 130px;
                height: 130px;
                top: 230px;
                right: 330px;
            }
            .circle_sov{
                width: 110px;
                height: 110px;
                top: 130px;
                left: 130px;
            }
            .circle_adapt:hover + .section_studio_iphone{
                right: -60px;
            }
            .circle p{
                color: #FFFFFF;
                display: table-cell;
                vertical-align: middle;
            }
            /*.circle_sov p{
                line-height: 104px;
            }
            .circle_adapt{
                line-height: 124px;
            }*/
section{
    position: relative;
    width: 100%;
    min-width: 1200px;
    z-index: 1;
}
    .section_about_container{
        text-align: center;
        color: #555555;
    }
        .section_about_container h1{
            font-size: 1.3em;
            padding-bottom: 30px;
            text-transform: uppercase;
            font-weight: normal;
        }
        .section_about_container p{
            width: 700px;
            margin: 0px auto;
            text-align: justify;
            line-height: 25px;
        }
    .section_about_works{
        margin: 0px auto;
        width: 1050px;
        height: 220px;
        padding-top: 30px;
    }
        .about_works_container{
            width: 25%;
            float: left;
        }
            .speak{
                background-color: #7AD4CE;
            }
            .speak-hover{
                background-color: #62AAA5;
            }
            .layout{
                background-color: #3BC492;
            }
            .layout-hover{
                background-color: #2F9D75;
            }
            .develop{
                background-color: #FDC44F;
            }
            .develop-hover{
                background-color: #CA9D3F;
            }
            .launch{
                background-color: #8DCF3F;
            }
            .launch-hover{
                background-color: #71A632;
            }
            .about_works{
                margin: 0px auto;
                width: 83%;
                height: 250px;
                position: relative;
                overflow: hidden;
                color: #FFFFFF;
                -webkit-transition: 1s all ease-in-out;
            }
                .about_works_image {
                    width: 100%;
                    height: 50%;
                    text-align: center;
                    line-height: 10;
                    position: absolute;
                    top: 0px;
                }
                .about_works_text{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    bottom: -50%;
                    padding: 10px;
                }
                .about_works_animate{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    bottom: 0px;
                    transition: 0.7s all ease-out 0s;
                    -webkit-transition:  0.7s all ease-in-out;
                    -moz-transition:   0.7s all ease-in-out;
                    -o-transition:   0.7s all ease-in-out;
                }
                .about_works_animate:hover{
                    bottom: 50%;
                }
                .about_works_animate:hover  .about_works_text > p{
                    transition: 0.5s all ease-out 0s;
                    -webkit-transition:  0.5s all ease-in-out;
                    -moz-transition:   0.5s all ease-in-out;
                    -o-transition:   0.5s all ease-in-out;
                    bottom: -15px;
                }

                    .about_works_text h2{
                        font-size: 1.2em;
                        padding: 15px 0 15px 0;
                        font-weight: normal;
                        text-align: center;
                    }
                    .about_works_text p{
                        position: relative;
                        bottom: -50%;
                        font-size: 0.85em;
                        text-align: justify;
                        transition: 0.4s all ease-out 0s;
                        -webkit-transition:  0.4s all ease-in-out;
                        -moz-transition:   0.4s all ease-in-out;
                        -o-transition:   0.4s all ease-in-out;
                    }
    .section_h1{
        color: #555555;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.3em;
        font-weight: normal;
        padding-bottom: 30px;
    }
    .works_wrapper, .report_wrapper{
        max-width: 1500px;
        min-width: 1200px;
        margin: 0px auto;
        display: table;
    }
        .works_container{
            width: 50%;
            float: left;
        }
            .works{
                width: 90%;
                margin: 0px auto;
                position: relative;

            }
                .works img{
                    width: 100%;
                }
                .works_title:hover{
                    display: block;
                    opacity: 100;
                }
                .works_title{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255,255,255,0.5);
                    color: #555555;
                    left: 0px;
                    top: 0px;
                    border: 1px solid #8ccf3f;
                    text-align: center;
                    opacity: 0;
                    transition: all 0.5s ease-out 0s;
                    -webkit-transition:   0.5s ease-in-out;
                    -moz-transition:   0.5s ease-in-out;
                    -o-transition:   0.5s ease-in-out;

                }
                    .works_p_title{
                        font-size: 1.3em;
                        text-transform: uppercase;
                        padding-top: 24%;
                    }
                    .works_p_text{
                        font-size: 0.85em;
                    }
    .report-color{
        background-color: #FFFFFF;
    }
        .report_container{
            width: 33%;
            float: left;
        }
            .report{
                width: 90%;
                margin: 0px auto;
                position: relative;
                color: #555555;
            }
                .report_header{
                    width: 100%;
                    height: 70px;
                }
                    .report_header_img{
                        width: 70px;
                        height: 70px;
                        float: left;
                    }
                        .report_header_img img{
                            width: 100%;
                            border-radius: 35px;
                            border: 3px solid #D5D5D5;
                        }
                    .report_header_title{
                        float: left;
                        padding: 20px 0 0 20px;
                    }
                        .report_header_title h2{
                            font-size: 0.9em;
                        }
                        .report_header_title > span > a{
                            font-size: 0.8em;
                            text-transform: uppercase;
                            color: #555555;
                        }
                        .report_header_title > span > a:hover{
                            font-weight: bold;
                        }
                    .report_text{
                        margin-top: -3px;
                        margin-left: 34px;
                        border-left: 1px solid #D5D5D5;
                    }
                        .report_text p {
                            padding: 15px 0 0 35px;
                            font-size: 0.9em;
                        }
    .social_wrapper{
        max-width: 100%;
        height: 100px;
    }
        .social_button{
            width: 33.333%;
            height: 100px;
            float: left;
            position: relative;
            overflow: hidden;
        }
        .social_fcolor{
            background-color: #3A5795;
        }
        .social_vkcolor{
            background-color: #4D75A3;
        }
        .social_gcolor{
            background-color: #DD4D40;
        }
            .social_button_wrapper{
                width: 100%;
                height: 200%;
                text-align: center;
                position: absolute;
                bottom: -100%;
                transition: all 0.5s ease-out 0s;
                -webkit-transition:   0.5s ease-in-out;
                -moz-transition:   0.5s ease-in-out;
                -o-transition:   0.5s ease-in-out;
            }
            .social_button:hover .social_button_wrapper{

                bottom: 0px;
            }
                .social_button_wrapper img{
                    position: relative;
                    top: 30px;
                    height: 40px;
                    margin: 0px auto;
                }
                .social_button_wrapper p{
                    position: relative;
                    bottom: -49%;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    font-size: 0.9em;
                    font-weight: bold;
                }
footer{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    z-index: 0;
    background-color: #666;
}
    .footer_container{
        position: relative;
        max-width: 920px;
        margin: 0px auto;
        text-align: center;
        padding: 13% 0 0 0;
    }
        .footer_container h1{
            color: #FFF;
            font-size: 1.3em;
            margin: 0 0 60px 0;
        }
        .footer_container p{
            padding: 1em 0;
            color: #FFFFFF;
        }
        #claim{

        }
            .footer_form_input_container{
                position: relative;
                margin-bottom: 30px;
                box-sizing: border-box;
                display: inline;
                float: left;
                width: 50%;
                padding: 0px 15px;
            }
                .footer_label{
                    display: block;
                    font-weight: 400;
                    font-size: 15px;
                    text-align: left;
                    padding: 5px 0px;
                    color: #e1e1e1;
                }
                .footer_input_text{
                    position: relative;
                    display: block;
                    width: 100%;
                    background: #777 none repeat scroll 0% 0%;
                    border: 0px solid #2A2A2F;
                    outline: 0px none;
                    line-height: 30px;
                    padding: 10px;
                    color: #FFF;
                    font-size: 20px;
                }
                .button_container{
                    width: 100%;
                    padding-top: 30px;
                    text-align: center;
                }
            .button{
                border: 3px solid /*#78b036*/#8CCF3F;
                border-radius: 25px;
                width: 250px;
                height: 50px;
                font-size: 1em;
                text-transform: uppercase;
                transition: all 0.3s ease-out 0s;
                -webkit-transition:   0.3s ease-in-out;
                -moz-transition:   0.3s ease-in-out;
                -o-transition:   0.3s ease-in-out;
            }
            .button_footer{
                color: #FFFFFF;
                background-color: #666;
                margin-top: 45px;
            }
            .button_works{
                color: #555555;
                background-color: #EEEEEE;
                margin: 0px auto;
            }
            .button_works:hover a{
                color: #FFFFFF;
            }
            .button_works a{
                display :block;
                padding: 11px;
                color: #555555;
                transition: all 0.3s ease-out 0s;
                -webkit-transition:   0.3s ease-in-out;
                -moz-transition:   0.3s ease-in-out;
                -o-transition:   0.3s ease-in-out;
            }
            .button:hover{
                background-color: #8CCF3F/*#78b036*/;
            }
    .footer_container_company{
        width: 100%;
        bottom: 10px;
        position: absolute;
        text-align: center;
    }
        .footer_company{
            text-transform: uppercase;
            text-decoration: none;
            color: #999;
            font-size: 0.9em;
        }
/*@media(max-width: 999px){
    header{
        height: 50px;
    }
    nav{
        display: none;
    }
    #logo{
        height: 46px;
        top: 2px;
        left: 0px;
    }
    header > a{
        width: 100%;
        height: 50px;
    }
    menu{

    }
}*/