@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,cyrillic);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 80px;
    padding-bottom: 100% !important;
    background-color: #fff;
    font-family: "Open Sans","PT Sans", "tahoma", "Arial verdana",sans-serif;
}
a{
    text-decoration: none;
}

/*----------------------------Heder----------------------------*/
header{
    position: fixed;
    left: 0px;
    top: 0px;
    line-height: 70px;
    height: 80px;
    background-color: #eeeeee;
    color: #555555;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    width: 100%;
    min-width: 1000px;
    z-index: 1000;
}
.header_container{
    margin: 0px auto;
    max-width: 1500px;
    min-width: 1000px;
}
.header_container > a{
    display: inline-block;
    width: 25%;
    height: 80px;
    text-align: center;
}
nav{
    width: 50%;
    height: 80px;
    display: block;
    margin: 0px auto;
    float: right;
}
nav ul{
    list-style: outside none none;
    text-align: center;
}
nav ul li{
    display: inline-block;
    width: 25%;
    float: left;
}
nav ul li > a{
    color: #555;
    font-size: 0.97em;
    display: block;
    border-top: 5px solid #EEE;
    transition: all 0.3s ease-out 0s;
    -webkit-transition:   0.3s ease-in-out;
    -moz-transition:   0.3s ease-in-out;
    -o-transition:   0.3s ease-in-out;
    transition:  0.3s ease-out;
}
nav ul li > a:hover{
    /*border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;*/
    border-top: 5px solid #8ccf3f;
}
#logo{
    /*background: url(../img/logo.png) no-repeat;*/
    position: relative;
    top: 7px;
    height: 66px;
    /*width: 439px;
    height: 86px; родное разрешение*/
}
.section_wrapper{
    width: 100%;
    max-width: 1500px;
    min-width: 1000px;
    margin: 0px auto;
    padding: 60px 0;
}
.studio-color{
    background-color: #8ccf3f;
}
.about-color{
    background-color: #EEEEEE;
}
        .section_studio_chrome{
            margin: 0px auto;
            max-width: 1000px;
            min-width: 700px;
            position: relative;
        }
            .section_studio_chrome img{
                width: 100%;
            }
            .section_studio_iphone{
                bottom: -30px;
                position: absolute;
                /*right: 100px;*/
                animation: iPhone_move 1s ease-in-out alternate infinite;
                /*animation-name: iPhone_move;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-direction: alternate;
                Animation-iteration-count: infinite;*/
            }
            @keyframes iPhone_move{
                from{
                    right: 0px;
                }
                to{
                    right: -100px;
                }
            }
section{
    position: relative;
    width: 100%;
    min-width: 1200px;
    z-index: 1;
}
    .section_about_container{
        text-align: center;
        color: #555555;
    }
        .section_about_container h1{
            font-size: 1.3em;
            padding-bottom: 30px;
            text-transform: uppercase;
            font-weight: normal;
        }
        .section_about_container p{
            width: 700px;
            margin: 0px auto;
            text-align: justify;
        }
    .section_about_works{
        margin: 0px auto;
        width: 1000px;
        height: 220px;
        padding-top: 30px;
    }
        .about_works_container{
            width: 25%;
            float: left;
        }
            .speak{
                background-color: #7AD4CE;
            }
            .layout{
                background-color: #3BC492;
            }
            .develop{
                background-color: #FDC44F;
            }
            .launch{
                background-color: #8DCF3F;
            }
            .about_works{
                margin: 0px auto;
                width: 83%;
                height: 250px;
                color: #FFFFFF;
            }
                .about_works_image {
                    width: 100%;
                    height: 50%;
                    text-align: center;
                    line-height: 10;
                }
                .about_works_text{
                    width: 100%;
                    height: 50%;
                    background-color: rgba(0,0,0,0.2);
                    padding: 10px;
                }
                    .about_works_text h2{
                        font-size: 1em;
                        padding-bottom: 10px;
                        font-weight: normal;
                    }
                    .about_works_text p{
                        font-size: 0.85em;
                        text-align: justify;
                    }
    .works_h1{
        color: #555555;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.3em;
        font-weight: normal;
        padding-bottom: 30px;
    }
    .works_wrapper{
        width: 1200px;
        margin: 0px auto;
        display: table;
    }
        .works_container{
            width: 50%;
            float: left;
        }
            .works{
                width: 90%;
                margin: 0px auto;
                position: relative;

            }
                .works img{
                    width: 100%;
                }
                .works_title:hover{
                    display: block;
                    opacity: 100;
                }
                .works_title{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255,255,255,0.5);
                    left: 0px;
                    top: 0px;
                    border: 1px solid #8ccf3f;
                    text-align: center;
                    opacity: 0;
                    transition: all 0.5s ease-out 0s;
                    -webkit-transition:   0.5s ease-in-out;
                    -moz-transition:   0.5s ease-in-out;
                    -o-transition:   0.5s ease-in-out;

                }
                    .works_p_title{
                        font-size: 1em;
                    }

footer{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    z-index: 0;
    background-color: #666;
}
    .footer_container{
        position: relative;
        max-width: 920px;
        margin: 0px auto;
        text-align: center;
        padding: 13% 0 0 0;
    }
        .footer_container h1{
            color: #FFF;
            font-size: 1.3em;
            margin: 0 0 60px 0;
        }
        .footer_container p{
            padding: 1em 0;
            color: #FFFFFF;
        }
        #claim{

        }
            .footer_form_input_container{
                position: relative;
                margin-bottom: 30px;
                box-sizing: border-box;
                display: inline;
                float: left;
                width: 50%;
                padding: 0px 15px;
            }
                .footer_label{
                    display: block;
                    font-weight: 400;
                    font-size: 15px;
                    text-align: left;
                    padding: 5px 0px;
                    color: #e1e1e1;
                }
                .footer_input_text{
                    position: relative;
                    display: block;
                    width: 100%;
                    background: #777 none repeat scroll 0% 0%;
                    border: 0px solid #2A2A2F;
                    outline: 0px none;
                    line-height: 30px;
                    padding: 10px;
                    color: #FFF;
                    font-size: 20px;
                }
            .button{
                border: 3px solid #78b036;
                border-radius: 25px;
                color: #FFFFFF;
                background-color: #666;
                margin-top: 45px;
                width: 250px;
                height: 50px;
                font-size: 1em;
                text-transform: uppercase;
                transition: all 0.3s ease-out 0s;
                -webkit-transition:   0.3s ease-in-out;
                -moz-transition:   0.3s ease-in-out;
                -o-transition:   0.3s ease-in-out;
                transition:  0.3s ease-out;
            }
            .button:hover{
                background-color: #78b036;
            }
    .footer_container_company{
        width: 100%;
        bottom: 10px;
        position: absolute;
        text-align: center;
    }
        .footer_company{
            text-transform: uppercase;
            text-decoration: none;
            color: #999;
            font-size: 0.9em;
        }
/*@media(max-width: 999px){
    header{
        height: 50px;
    }
    nav{
        display: none;
    }
    #logo{
        height: 46px;
        top: 2px;
        left: 0px;
    }
    header > a{
        width: 100%;
        height: 50px;
    }
    menu{

    }
}*/